<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>YomiYome Geolocation</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<h1>Map#index</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    if (navigator.geolocation) {
        // 現在の位置情報取得を実施
        navigator.geolocation.getCurrentPosition(
            // 位置情報取得成功時
        function (pos) {
            var lat = pos.coords.latitude;
            var lon = pos.coords.longitude;
            var location ="<li>"+"緯度：" + lat + "</li>";
            location += "<li>"+"経度：" + lon + "</li>";
            document.getElementById("location").innerHTML = location;

            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.addMarkers([
                    {
                        "lat": lat,
                        "lng": lon,
                        "infowindow": "現在地",
                        "title": "NowPlace"
                    }
                ]);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(12);
            });
            //緯度と経度から距離計算 a:基準、b:現在地//緯度と経度から距離計算 a:基準、b:現在地
            var a_latitude = lat;
            var a_longitude = lon;
            var b_latitude = <% @users.last.latitudee %>;
            var b_longitude = <% @users.last.longitude %>;
            var earth_r = 6378.137;
            var latitude_diff = b_latitude - a_latitude;	//緯度差をラジアンに
            
        },
        // 位置情報取得失敗時
        function (pos) {
            location = "<li>位置情報が取得できませんでした。</li>";
            document.getElementById("location").innerHTML = location;
        });
    } else {
        window.alert("本ブラウザではGeolocationが使えません");
    }
</script>
<p>現在地</p>
<ul id="location"></ul>
</body>
</html>